
.form-control{
    color: black !important;
}

table tr:hover {
    background-color: #cfcfcf;
}

.react-datepicker-wrapper {
    display: block !important;
}

.page-item.active .page-link {
    box-shadow: none;
}

input[id="search"] {
    margin-top: 10px !important;
}

.multi-select .dropdown {
    display: block;
}

.customSelect {
    background-color: #0b2e13;
}

.custom-table-th:hover
{
    color: black !important;
}
.custom-table-th
{
    font-size: 12px !important;
}

.react-css-collapse-transition {
    transition: height 250ms cubic-bezier(.4, 0, .2, 1);
}