
.form-control{
    color: black !important;
}

table tr:hover {
    background-color: #cfcfcf;
}

.react-datepicker-wrapper {
    display: block !important;
}

.page-item.active .page-link {
    box-shadow: none;
}

input[id="search"] {
    margin-top: 10px !important;
}

.multi-select .dropdown {
    display: block;
}